In [1]:
import pandas as pd

In [19]:
# data_files = '../muni-finance-credit-ratings-history-data/data/'
# csv_name = 'ratings_for_upload.csv'
rating = pd.read_csv('compustat_dailly_ratings_1997_02_to_latest.csv')

In [20]:
price = pd.read_csv('compustat_daily_prices_1997_02_to_latest.csv')

C:\Users\Joseph\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (1,29,30,33,35,36,45,49,50,51,57,59,67,71,72,77,78) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [55]:
price['loc'].value_counts()

USA    3036680
CAN    1092145
CHN      66885
GBR      55997
JPN      36897
        ...
KHM         43
MNG         37
BRB         32
LBN         28
BOL          1
Name: loc, Length: 87, dtype: int64

In [44]:
price[price['tic'] == 'AAPL']['cik']

36629    320193.0
36630    320193.0
36631    320193.0
36632    320193.0
36633    320193.0
           ...
36902    320193.0
36903    320193.0
36904    320193.0
36905    320193.0
36906    320193.0
Name: cik, Length: 278, dtype: float64

In [29]:
rating['cik'].isna().sum() / rating['cik'].sum()

1.5790624977530338e-07

In [51]:
mask= rating['cik'] == 320193
rating[mask][['cik','datadate', 'splticrm']].to_csv('aapl.csv')

In [49]:
rating.columns

Index(['gvkey', 'splticrm', 'spsdrm', 'spsticrm', 'datadate', 'add1', 'add2',
       'add3', 'add4', 'addzip', 'busdesc', 'cik', 'city', 'conml', 'county',
       'dlrsn', 'ein', 'fax', 'fic', 'fyrc', 'ggroup', 'gind', 'gsector',
       'gsubind', 'idbflag', 'incorp', 'loc', 'naics', 'phone', 'prican',
       'prirow', 'priusa', 'sic', 'spcindcd', 'spcseccd', 'spcsrc', 'state',
       'stko', 'weburl', 'dldte', 'ipodate', 'conm', 'tic', 'cusip'],
      dtype='object')

In [9]:
mask = df['ipodate'].isna()

df = df[-mask]

In [17]:
df[df['gvkey'] == 1004][['splticrm','cik']]

    splticrm     cik
102      NaN  1750.0
103      NaN  1750.0
104      NaN  1750.0
105      NaN  1750.0
106      NaN  1750.0
..       ...     ...
478      BB+  1750.0
479      BB+  1750.0
480      BB+  1750.0
481      BB+  1750.0
482      BB+  1750.0

[381 rows x 2 columns]

In [7]:
df.columns

Index(['rating_agency_name', 'file_creating_date', 'sec_category',
       'issuer_name', 'legal_entity_identifier', 'object_type_rated',
       'instrument_name', 'cusip_number', 'coupon_date', 'maturity_date',
       'par_value', 'issued_paid', 'rating', 'rating_action_date',
       'rating_action_class', 'rating_type', 'rating_sub_type',
       'rating_type_term', 'other_announcement_type', 'watch_status',
       'rating_outlook', 'issuer_identifier', 'issuer_identifier_schema',
       'instrument_identifier', 'instrument_identifier_schema',
       'central_index_key', 'obligor_identifier', 'obligor_identifier_schema',
       'obligor_identifier_other', 'obligor_sec_category',
       'obligor_industry_group', 'obligor_name'],
      dtype='object')

In [4]:
print(len(df), 'observations')
print(df['rating_agency_name'].nunique(), 'unique rating agencies')
print('\nRating agencies: ', df['rating_agency_name'].unique())
print('\nColumns: ', df.columns)

8442455 observations
10 unique rating agencies

Rating agencies:  ['Kroll Bond Rating Agency, Inc.' "Moody's Investors Service" 'DBRS'
 'Japan Credit Rating Agency,Ltd.' 'Egan-Jones Ratings Company'
 'Fitch Ratings' 'A.M.BEST COMPANY' 'HR Ratings de Mexico S.A. de C.V.'
 "Standard & Poor's Ratings Services" 'Morningstar Credit Ratings, LLC.']

Columns:  Index(['rating_agency_name', 'file_creating_date', 'sec_category',
       'issuer_name', 'legal_entity_identifier', 'object_type_rated',
       'instrument_name', 'cusip_number', 'coupon_date', 'maturity_date',
       'par_value', 'issued_paid', 'rating', 'rating_action_date',
       'rating_action_class', 'rating_type', 'rating_sub_type',
       'rating_type_term', 'other_announcement_type', 'watch_status',
       'rating_outlook', 'issuer_identifier', 'issuer_identifier_schema',
       'instrument_identifier', 'instrument_identifier_schema',
       'central_index_key', 'obligor_identifier', 'obligor_identifier_schema',
       'obligor_identifier_other', 'obligor_sec_category',
       'obligor_industry_group', 'obligor_name'],
      dtype='object')

CUSIP is a nine-digit numeric or nine-character alphanumeric code that identifies a North American financial security for the purposes of facilitating clearing and settlement of trades')

In [5]:
# Convert date columns to datetime objects
df['file_creating_date'] = pd.to_datetime(df['file_creating_date'])
df['rating_action_date'] = pd.to_datetime(df['rating_action_date'])

In [6]:
print('earliest date: ', df['rating_action_date'].min())
print('latest date: ', df['rating_action_date'].max())

earliest date:  1976-04-01 00:00:00
latest date:  2017-12-01 00:00:00

In [7]:
# Create column with rating_action year
df['rating_action_year'] = df['rating_action_date'].dt.to_period('Y')
df['rating_action_year'].value_counts().plot(title = 'Unique bonds rating actions per year ranked by frequency', kind='bar')