In [1]:
import pandas as pd

In [2]:
data_files = '../muni-finance-credit-ratings-history-data/data/'
csv_name = 'ratings_for_upload.csv'
df = pd.read_csv(f"{data_files}{csv_name}")

C:\Users\Hannah\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (4,9,15,16,17,18,19,20,21,22,23,24,26,27,29,30,31) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
df.head()

,rating_agency_name,file_creating_date,sec_category,issuer_name,legal_entity_identifier,object_type_rated,instrument_name,cusip_number,coupon_date,maturity_date,...,issuer_identifier_schema,instrument_identifier,instrument_identifier_schema,central_index_key,obligor_identifier,obligor_identifier_schema,obligor_identifier_other,obligor_sec_category,obligor_industry_group,obligor_name
0,"Kroll Bond Rating Agency, Inc.",2017-12-01,Financial,Air Lease Corporation,NaN,Instrument,Air Lease Corporation SR NT,00912XAF1,0.05625,2017-04-01,...,NRSRO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"Kroll Bond Rating Agency, Inc.",2017-12-01,Financial,Air Lease Corporation,NaN,Instrument,Air Lease Corporation SR NT,00912XAF1,0.05625,2017-04-01,...,NRSRO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"Kroll Bond Rating Agency, Inc.",2017-12-01,Financial,Air Lease Corporation,NaN,Instrument,Air Lease Corporation SR NT,00912XAF1,0.05625,2017-04-01,...,NRSRO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"Kroll Bond Rating Agency, Inc.",2017-12-01,Financial,Air Lease Corporation,NaN,Instrument,Air Lease Corporation SR NT,00912XAG9,0.04500,2016-01-15,...,NRSRO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"Kroll Bond Rating Agency, Inc.",2017-12-01,Financial,Air Lease Corporation,NaN,Instrument,Air Lease Corporation SR NT,00912XAG9,0.04500,2016-01-15,...,NRSRO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
print(len(df), 'observations')
print(df['rating_agency_name'].nunique(), 'unique rating agencies')
print('\nRating agencies: ', df['rating_agency_name'].unique())
print('\nColumns: ', df.columns)

8442455 observations
10 unique rating agencies

Rating agencies:  ['Kroll Bond Rating Agency, Inc.' "Moody's Investors Service" 'DBRS'
 'Japan Credit Rating Agency,Ltd.' 'Egan-Jones Ratings Company'
 'Fitch Ratings' 'A.M.BEST COMPANY' 'HR Ratings de Mexico S.A. de C.V.'
 "Standard & Poor's Ratings Services" 'Morningstar Credit Ratings, LLC.']

Columns:  Index(['rating_agency_name', 'file_creating_date', 'sec_category',
       'issuer_name', 'legal_entity_identifier', 'object_type_rated',
       'instrument_name', 'cusip_number', 'coupon_date', 'maturity_date',
       'par_value', 'issued_paid', 'rating', 'rating_action_date',
       'rating_action_class', 'rating_type', 'rating_sub_type',
       'rating_type_term', 'other_announcement_type', 'watch_status',
       'rating_outlook', 'issuer_identifier', 'issuer_identifier_schema',
       'instrument_identifier', 'instrument_identifier_schema',
       'central_index_key', 'obligor_identifier', 'obligor_identifier_schema',
       'obligor_identifier_other', 'obligor_sec_category',
       'obligor_industry_group', 'obligor_name'],
      dtype='object')

In [ ]:
df['central_index_key']

In [19]:
moody_mask = df['rating_agency_name'] == 'Moody\'s Investors Service'
sp_mask = df['rating_agency_name'] == 'Standard & Poor\'s Ratings Services'
morningstar_mask = df['rating_agency_name'] == 'Morningstar Credit Ratings, LLC.'

#Moody's ratings only
print('Moody number of ratings: ', df[moody_mask]['rating'].nunique())

#SP ratings only
print('Standard & Poor number of ratings: ', df[sp_mask]['rating'].nunique())

#Morningstar ratings only
print('Morningstar number of ratings: ', df[morningstar_mask]['rating'].nunique())

Moody number of ratings:  291
Standard & Poor number of ratings:  626
Morningstar number of ratings:  24

CUSIP is a nine-digit numeric or nine-character alphanumeric code that identifies a North American financial security for the purposes of facilitating clearing and settlement of trades')

In [5]:
# Convert date columns to datetime objects
df['file_creating_date'] = pd.to_datetime(df['file_creating_date'])
df['rating_action_date'] = pd.to_datetime(df['rating_action_date'])

In [6]:
print('earliest date: ', df['rating_action_date'].min())
print('latest date: ', df['rating_action_date'].max())

earliest date:  1976-04-01 00:00:00
latest date:  2017-12-01 00:00:00

In [7]:
# Create column with rating_action year
df['rating_action_year'] = df['rating_action_date'].dt.to_period('Y')
df['rating_action_year'].value_counts().plot(title = 'Unique bonds rating actions per year ranked by frequency', kind='bar')

In [9]:
df['rating'].head(5)

0    A-
1    A-
2    A-
3    A-
4    A-
Name: rating, dtype: object

In [12]:
df['rating'].value_counts()[:40]

WR          963729
AA          691052
AA+         687182
AA-         631938
Aa3         537613
A+          515198
Aa2         506195
AAA         473416
A           364513
NR          337085
A1          320290
A2          247634
Aa1         232720
Aaa         217936
A-          206602
A3          139107
BBB+        131532
BBB         120717
Baa1         99500
WD           76179
BBB-         74389
Baa2         72625
B            38312
AAA (sf)     37726
BB+          37095
C            33133
BB           31259
B+           26544
Baa3         26336
BB-          21686
Ba1          20637
D            18645
B-           18269
NRprelim     16999
D (sf)       15519
VMIG 1       13230
Ba3          13019
CCC (sf)     12915
Ba2          12701
CC           12624
Name: rating, dtype: int64