In [66]:
import pandas as pd
import numpy as np

In [3]:
# Ratings data
df = pd.read_csv('compustat_dailly_ratings_1997_02_to_latest.csv')

C:\Users\Derrick\Anaconda2\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (2,3,6,7,8,14,30) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
#splticrm: S&P Domestic Long Term Issuer Credit Rating
#datadate: date bond rating data was collected
#cik: company unique ID
#llc location
#spcsrc Quality rating of previous period performance
#spsdrm Subordinated bond rating
#spsticrm S&P short term rating

#Final data ~3k, most don't have long term ratings, filtered for US companies
df.columns

Index(['gvkey', 'splticrm', 'spsdrm', 'spsticrm', 'datadate', 'add1', 'add2',
       'add3', 'add4', 'addzip', 'busdesc', 'cik', 'city', 'conml', 'county',
       'dlrsn', 'ein', 'fax', 'fic', 'fyrc', 'ggroup', 'gind', 'gsector',
       'gsubind', 'idbflag', 'incorp', 'loc', 'naics', 'phone', 'prican',
       'prirow', 'priusa', 'sic', 'spcindcd', 'spcseccd', 'spcsrc', 'state',
       'stko', 'weburl', 'dldte', 'ipodate', 'conm', 'tic', 'cusip'],
      dtype='object')

In [5]:
df['splticrm'].value_counts()

BBB     60149
B+      48345
BBB+    47786
BBB-    46539
BB-     44129
A-      37203
A       35631
B       34892
BB      34450
BB+     27469
A+      22673
B-      17720
AA-     13008
AA       7409
CCC+     6865
D        5208
AAA      4420
CCC      3515
AA+      2430
CC       1293
CCC-     1126
SD        666
N.M.      182
Name: splticrm, dtype: int64

In [6]:
df['spsdrm'].value_counts()

B-      2383
B       2170
B+      1438
A-      1151
BBB-    1106
BB+      932
BB-      864
BBB      817
BBB+     696
A        518
A+       453
CCC+     423
D        206
AA-      192
CCC      177
AA        76
CCC-      65
AAA       30
CC        22
AA+       20
C         12
BB         5
Name: spsdrm, dtype: int64

In [7]:
df['spsticrm'].value_counts()

A-2     68957
A-1     44184
A-1+    23304
A-3     10871
B        4062
B-2      1128
B-1       744
C         593
B-3       435
D         368
SD         10
Name: spsticrm, dtype: int64

In [8]:
df['spcsrc'].value_counts()

C      395384
B-     251865
B      194856
B+     155963
D      107625
A-      57821
A       42623
A+      12578
LIQ      1248
Name: spcsrc, dtype: int64

In [9]:
lista= ['splticrm','spsdrm','spsticrm','spcsrc']

In [10]:
for i in lista:
    print(i,':',df[i].isnull().sum())

splticrm : 1884358
spsdrm : 2373710
spsticrm : 2232810
spcsrc : 1167503

In [16]:
mask = df['splticrm'].isna() | df['spsticrm'].isna()

In [19]:
df[-mask][['gvkey','splticrm','spsticrm','cik']]

          gvkey splticrm spsticrm        cik
1679       1045       B-      B-3     6201.0
1680       1045       B-      B-3     6201.0
1681       1045       B-      B-3     6201.0
1682       1045       B-      B-3     6201.0
1683       1045       B-      B-3     6201.0
...         ...      ...      ...        ...
2387171  295786      BB+        B  1567094.0
2387172  295786      BB+        B  1567094.0
2387173  295786      BB+        B  1567094.0
2387174  295786      BB+        B  1567094.0
2387175  295786      BB+        B  1567094.0

[151191 rows x 4 columns]

# Return

In [95]:
#Price returns data
returns = pd.read_csv('compustat_daily_prices_1997_02_to_latest.csv')

In [96]:
returns.head()

,gvkey,iid,datadate,tic,cusip,conm,ajexm,ajpm,isalrt,primiss,...,priusa,sic,spcindcd,spcseccd,spcsrc,state,stko,weburl,dldte,ipodate
0,1003,01,19970131,ANTQ,000354100,A.A. IMPORTING CO INC,1.0,1.0,NaN,P,...,1.0,5712.0,449.0,976.0,NaN,MO,3.0,www.aaimporting.com,19920430.0,NaN
1,1003,01,19970228,ANTQ,000354100,A.A. IMPORTING CO INC,1.0,1.0,NaN,P,...,1.0,5712.0,449.0,976.0,NaN,MO,3.0,www.aaimporting.com,19920430.0,NaN
2,1003,01,19970331,ANTQ,000354100,A.A. IMPORTING CO INC,1.0,1.0,NaN,P,...,1.0,5712.0,449.0,976.0,NaN,MO,3.0,www.aaimporting.com,19920430.0,NaN
3,1003,01,19970430,ANTQ,000354100,A.A. IMPORTING CO INC,1.0,1.0,NaN,P,...,1.0,5712.0,449.0,976.0,NaN,MO,3.0,www.aaimporting.com,19920430.0,NaN
4,1003,01,19970531,ANTQ,000354100,A.A. IMPORTING CO INC,1.0,1.0,NaN,P,...,1.0,5712.0,449.0,976.0,NaN,MO,3.0,www.aaimporting.com,19920430.0,NaN

In [97]:
returns['datadate']=(pd.to_datetime(returns['datadate'],format='%Y%m%d'))

In [99]:
returns['month']= returns['datadate'].dt.month
returns['year']= returns['datadate'].dt.year

In [100]:
returns['mkcap']= returns['cshom']* returns['prccm']

In [101]:
# Shift the stock by 1 month
mask = returns['cik']==returns['cik'].shift(-1)
returns['nextmonth_return']= np.where(mask,returns['trt1m'].shift(-1),np.nan)

In [102]:
returns

,gvkey,iid,datadate,tic,cusip,conm,ajexm,ajpm,isalrt,primiss,...,spcsrc,state,stko,weburl,dldte,ipodate,month,year,mkcap,nextmonth_return
0,1003,01,1997-01-31,ANTQ,000354100,A.A. IMPORTING CO INC,1.0,1.0,NaN,P,...,NaN,MO,3.0,www.aaimporting.com,19920430.0,NaN,1,1997,NaN,0.0
1,1003,01,1997-02-28,ANTQ,000354100,A.A. IMPORTING CO INC,1.0,1.0,NaN,P,...,NaN,MO,3.0,www.aaimporting.com,19920430.0,NaN,2,1997,NaN,0.0
2,1003,01,1997-03-31,ANTQ,000354100,A.A. IMPORTING CO INC,1.0,1.0,NaN,P,...,NaN,MO,3.0,www.aaimporting.com,19920430.0,NaN,3,1997,NaN,0.0
3,1003,01,1997-04-30,ANTQ,000354100,A.A. IMPORTING CO INC,1.0,1.0,NaN,P,...,NaN,MO,3.0,www.aaimporting.com,19920430.0,NaN,4,1997,NaN,0.0
4,1003,01,1997-05-31,ANTQ,000354100,A.A. IMPORTING CO INC,1.0,1.0,NaN,P,...,NaN,MO,3.0,www.aaimporting.com,19920430.0,NaN,5,1997,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4615100,333960,90,2019-09-30,AMRYY,03217L106,AMRYT PHARMA PLC,1.0,1.0,NaN,P,...,NaN,NaN,3.0,www.amrytpharma.com,NaN,NaN,9,2019,4.290187e+08,NaN
4615101,333960,90,2019-10-31,AMRYY,03217L106,AMRYT PHARMA PLC,1.0,1.0,NaN,P,...,NaN,NaN,3.0,www.amrytpharma.com,NaN,NaN,10,2019,1.204177e+09,NaN
4615102,333960,90,2019-11-30,AMRYY,03217L106,AMRYT PHARMA PLC,1.0,1.0,NaN,P,...,NaN,NaN,3.0,www.amrytpharma.com,NaN,NaN,11,2019,1.107274e+09,NaN
4615103,333960,90,2019-12-31,AMRYY,03217L106,AMRYT PHARMA PLC,1.0,1.0,NaN,P,...,NaN,NaN,3.0,www.amrytpharma.com,NaN,NaN,12,2019,1.248506e+09,NaN
4615104,333960,90,2020-01-31,AMRYY,03217L106,AMRYT PHARMA PLC,1.0,1.0,NaN,P,...,NaN,NaN,3.0,www.amrytpharma.com,NaN,NaN,1,2020,1.257622e+09,NaN

In [103]:
returns= returns[['cik','prccm','year','month','datadate','trt1m','cshom','mkcap','tic','nextmonth_return']]

# CIK unique company identifier
# PRCCM close price
# CMTH month, CYEAR year
# datadate
# TRT1M monthly total return: monthly multiplication factor for calculating the total return to shareholders of any time period.
# includes Cash Equivalent Distributions (from 01-31-1982 and forward) along with reinvestment of dividends and the compounding effect of dividends paid on reinvested dividends.
# 'cshom' s/o monthly, 'chsoq' s/o quarterly

In [104]:
returns[returns['tic']=='AAPL']

,cik,prccm,year,month,datadate,trt1m,cshom,mkcap,tic,nextmonth_return
36629,320193.0,16.625,1997,1,1997-01-31,-20.3593,NaN,NaN,AAPL,-2.2556
36630,320193.0,16.250,1997,2,1997-02-28,-2.2556,NaN,NaN,AAPL,12.3077
36631,320193.0,18.250,1997,3,1997-03-31,12.3077,NaN,NaN,AAPL,-6.8493
36632,320193.0,17.000,1997,4,1997-04-30,-6.8493,NaN,NaN,AAPL,-2.2059
36633,320193.0,16.625,1997,5,1997-05-31,-2.2059,NaN,NaN,AAPL,-14.2857
...,...,...,...,...,...,...,...,...,...,...
36902,320193.0,248.760,2019,10,2019-10-31,11.0684,4.443265e+09,1.105307e+12,AAPL,7.7424
36903,320193.0,267.250,2019,11,2019-11-30,7.7424,4.443265e+09,1.187463e+12,AAPL,9.8784
36904,320193.0,293.650,2019,12,2019-12-31,9.8784,4.443265e+09,1.304765e+12,AAPL,5.4010
36905,320193.0,309.510,2020,1,2020-01-31,5.4010,4.375480e+09,1.354255e+12,AAPL,NaN
36906,320193.0,NaN,2020,2,2020-02-29,NaN,NaN,NaN,AAPL,NaN

In [114]:
filtercap= returns['mkcap'].isna()| returns['cik'].isna()

In [115]:
returns= returns[-filtercap]

In [116]:
returns

,cik,prccm,year,month,datadate,trt1m,cshom,mkcap,tic,nextmonth_return
17,730052.0,0.008,2002,6,2002-06-30,NaN,2683000.0,21464.0,ANTQ,-87.5000
18,730052.0,0.001,2002,7,2002-07-31,-87.5000,2683000.0,2683.0,ANTQ,3900.0000
19,730052.0,0.040,2002,8,2002-08-31,3900.0000,2683000.0,107320.0,ANTQ,0.0000
20,730052.0,0.040,2002,9,2002-09-30,0.0000,2683000.0,107320.0,ANTQ,0.0000
21,730052.0,0.040,2002,10,2002-10-31,0.0000,2683000.0,107320.0,ANTQ,0.0000
...,...,...,...,...,...,...,...,...,...,...
4615090,921114.0,3.700,2019,9,2019-09-30,-16.8932,9959000.0,36848300.0,ARMP,12.1622
4615091,921114.0,4.150,2019,10,2019-10-31,12.1622,9934000.0,41226100.0,ARMP,5.5422
4615092,921114.0,4.380,2019,11,2019-11-30,5.5422,9934000.0,43510920.0,ARMP,-25.7991
4615093,921114.0,3.250,2019,12,2019-12-31,-25.7991,9934000.0,32285500.0,ARMP,22.4615
4615094,921114.0,3.980,2020,1,2020-01-31,22.4615,9923000.0,39493540.0,ARMP,NaN

# rating preparation

In [122]:
lista

['splticrm', 'spsdrm', 'spsticrm', 'spcsrc']

In [123]:
rating = df[['cik','splticrm', 'spsdrm', 'spsticrm', 'spcsrc','datadate']]

In [125]:
rating['datadate']=(pd.to_datetime(rating['datadate'],format='%Y%m%d'))
rating['month']= rating['datadate'].dt.month
rating['year']= rating['datadate'].dt.year

C:\Users\Derrick\Anaconda2\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\Users\Derrick\Anaconda2\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\Derrick\Anaconda2\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

# Merged Dataset

In [130]:
merge_dataset = pd.merge(returns,rating, left_on=['cik','year','month'], right_on= ['cik','year','month'], how='left')

In [131]:
merge_dataset

,cik,prccm,year,month,datadate_x,trt1m,cshom,mkcap,tic,nextmonth_return,splticrm,spsdrm,spsticrm,spcsrc,datadate_y
0,730052.0,0.008,2002,6,2002-06-30,NaN,2683000.0,21464.0,ANTQ,-87.5000,NaN,NaN,NaN,NaN,NaT
1,730052.0,0.001,2002,7,2002-07-31,-87.5000,2683000.0,2683.0,ANTQ,3900.0000,NaN,NaN,NaN,NaN,NaT
2,730052.0,0.040,2002,8,2002-08-31,3900.0000,2683000.0,107320.0,ANTQ,0.0000,NaN,NaN,NaN,NaN,NaT
3,730052.0,0.040,2002,9,2002-09-30,0.0000,2683000.0,107320.0,ANTQ,0.0000,NaN,NaN,NaN,NaN,NaT
4,730052.0,0.040,2002,10,2002-10-31,0.0000,2683000.0,107320.0,ANTQ,0.0000,NaN,NaN,NaN,NaN,NaT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3173880,921114.0,3.700,2019,9,2019-09-30,-16.8932,9959000.0,36848300.0,ARMP,12.1622,NaN,NaN,NaN,NaN,NaT
3173881,921114.0,4.150,2019,10,2019-10-31,12.1622,9934000.0,41226100.0,ARMP,5.5422,NaN,NaN,NaN,NaN,NaT
3173882,921114.0,4.380,2019,11,2019-11-30,5.5422,9934000.0,43510920.0,ARMP,-25.7991,NaN,NaN,NaN,NaN,NaT
3173883,921114.0,3.250,2019,12,2019-12-31,-25.7991,9934000.0,32285500.0,ARMP,22.4615,NaN,NaN,NaN,NaN,NaT
3173884,921114.0,3.980,2020,1,2020-01-31,22.4615,9923000.0,39493540.0,ARMP,NaN,NaN,NaN,NaN,NaN,NaT

In [137]:
merge_dataset[-merge_dataset['splticrm'].isna()]['cik'].nunique()

3867